config/local.alloy
.env
*.env


__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.ruff_cache/
dist/
build/
*.egg-info/
venv/
.venv/


.docker/
infra/alloy/config.alloy

.terraform/
*.tfstate
*.tfstate.backup

.vscode/
.idea/
*.swpterraform.tfvars
